{
    "push":1,
    "distinct_id": "抓包获取",
    "users": [

        {   
            "is_enable" : True
            "name" : "被签到者的姓名",
            "wwroleId": "可以抓包获取 鸣潮的uid 不签到不填空着",
            "eeeroleId": "可以抓包获取 站双的uid 不签到不填空着",
            "tokenraw": "抓包获取的token",
            "userId": "库街区的id 可以抓包获取",
            "devCode":"设备代码 可以随机生成或者抓包获取"
            
        }

    ]
}

