# 控制本 config 文件是否启用
enable: true
# token 必填
token: ""
#是否完整，不完整默认系统自动补全
completed: false
# 是否自动补签
auto_reple_sign: true

# 重试次数（失败后再次尝试的总次数，默认 3）
retry_times: 3

# 游戏信息
game_info:

  # distinct_id 和 devCode 可选，系统会随机生成
  distinct_id: ""
  devcode: ""
  # wwroleId：鸣潮 ID（可选，默认系统获取）
  wwroleId: 
  # eeeroleId：战双 ID（可选，默认系统获取）
  eeeroleId: 

# 用户信息
user_info:
  # 库街区 bbs ID（可选，默认系统获取）
  userId: ""